<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sx.daoyun.mapper.DicDatailMapper">
    <select id="searchlistbyDataId" resultType="DicDetail">
        select *from datadetails where DataID=#{0}
    </select>
    <insert id="addDicDetail" parameterType="DicDetail">
         insert into datadetails(DataID, ItemValue,isDefault,
         CreateDate)
        values (#{DataID},#{ItemValue},#{isDefault},#{CreateDate}
        )
    </insert>
    <update id="updateDetail" parameterType="DicDetail">
      update datadetails set ItemValue=#{ItemValue}
        ,isDefault=#{isDefault},ModifyDate=#{ModifyDate}
        where ID=#{ID}
    </update>
    <select id="searchone" resultType="DicDetail">
        select *from datadetails where ID=#{0}
    </select>
    <delete id="deletedicdetail" parameterType="int">
        delete from datadetails where ID=#{0}
    </delete>
</mapper>