<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sx.daoyun.mapper.MenuMapper">
    <insert id="addMenu" parameterType="Menu">
        insert into menu (MenuName, Icon, url, ParentMenuID,isPage, Sort, Createby, CreateDate)
        values (#{MenuName},#{Icon},#{url},#{ParentMenuID},#{isPage},
        #{Order},#{Createby},#{CreateDate}
        )
    </insert>
</mapper>