<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sx.daoyun.mapper.ParaMapper">
    <insert id="addpara" parameterType="Para">
        insert into para(description,paraName,paraValue)
        values (#{description},#{paraName},#{paraValue})
    </insert>
    <update id="updatePara" parameterType="Para">
        update para set description=#{description}
        ,paraName=#{paraName},paraValue=#{paraValue}
        where id=#{id}
    </update>
    <delete id="deletePara" parameterType="int">
        delete from para where id=#{0}
    </delete>
    <select id="queryPara" resultType="Para">
        select * from para where id=#{0};
    </select>
    <select id="queryParaList" resultType="Para">
        select * from para;
    </select>
</mapper>