<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sx.daoyun.mapper.RoleMapper">
    <select id="queryRoleNamebyRoleId" resultType="Role">
    select * from role where id=#{0}
     </select>
    <select id="queryRoleList" resultType="Role">
      select * from role
        <if test="roletype != null and roletype !=''">
            where rolename=#{roletype}
        </if>
    </select>
    <select id="queryRoleById" resultType="Role">
    select * from role where id=#{0}
    </select>
    <insert id="addRole" parameterType="Role">
        insert into role (rolename)
        values (#{rolename})
    </insert>
    <delete id="deleteRole" parameterType="int">
        delete from role where id=#{0}
    </delete>
    <update id="updateRole" parameterType="Role">
        update role set
        rolename=#{rolename}
        where id=#{id}
    </update>
    <select id="queryRoleidByname" parameterType="String" resultType="Role">
        select *from role where rolename =#{0}
    </select>
</mapper>