<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sx.daoyun.mapper.SignHistoryMapper">
    <insert id="addSignHistory" parameterType="SignHistory">
       insert into signinhistory (QianDaoID,ClassID, MemberID, Createby, CreateDate,isQianDao)
        values (#{QianDaoID},#{ClassID},#{MemberID},#{Createby},#{CreateDate},#{isQianDao}
        )
    </insert>
    <select id="qiaodaoHistory" resultType="SignHistory">
        select *from signinhistory where ClassID=#{classid} and MemberID=#{userid}
    </select>
    <select id="qiaodaoHistory1" resultType="SignHistory" >
        select *from signinhistory where ClassID=#{classid} and MemberID=#{userid} and isQianDao=1;
    </select>
    <update id="qiandaosuccess">
        update signinhistory set
        isQianDao=1,Latitude=#{latitude},Longitude=#{longitude}
        where ClassID=#{classid} and MemberID=#{userid} and QianDaoID = (select QianDaoID from signinrecord
      where ClassID=#{classid} order by QianDaoTime DESC limit 1)
    </update>
    <select id="qiaodaoHistorybyQiandaoid" resultType="SignHistory">
        select * from signinhistory where QianDaoID=#{QianDaoID} and isQianDao=1;
    </select>
</mapper>