<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sx.daoyun.mapper.UserMapper">
    <!--///这里还可以使用缓存-->
    <!--使这个能辨别 要在yml中整合mybatis-->
    <select id="queryUserList" resultType="User">
      select *from user
    </select>
    <select id="queryUserByName" resultType="User">
      select *from user where UserName=#{0}
    </select>
    <insert id="addUser" parameterType="User">
        insert into user (UserName,NickName,Sex,Number,Mobile,Email,Password,School,Department,Photo,exp
        ,CharmValue,LanDouNum,XinYi,Birthday,Createby,CreateDate,
        QianDaoExp,ResourceExp,taskExp,VideoExp,TimeExp,DiscussExp,DianZanExp,JoinClassExp)
        values (#{UserName},#{NickName},#{Sex},#{Number},#{Mobile},#{Email},#{Password}
        ,#{School},#{Department},#{Photo},#{exp},#{CharmValue},#{LanDouNum},#{XinYi},
        #{Birthday},#{Createby},#{CreateDate}
        ,#{QianDaoExp},#{ResourceExp},#{taskExp},#{VideoExp},#{TimeExp},#{DiscussExp},#{DianZanExp}
        ,#{JoinClassExp}
        )
    </insert>
    <select id="queryUserById" resultType="User">
        select *from user where id=#{0}
    </select>
    <delete id="deleteUser" parameterType="int">
        delete from user where id=#{0}
    </delete>

    <update id="updateUser" parameterType="User">
        update user set UserName=#{UserName},NickName=#{NickName}
        where id=#{id}
    </update>
    <update id="resetPassword" parameterType="String">
        update user set Password=123456 where Mobile=#{phone}
    </update>
    <select id="queryUseridByPhone" resultType="User">
        select * from user where Mobile=#{phone}
    </select>
    <select id="searmap" resultType="User">
        select *from user
            <choose>
                <when test="rolename != null and rolename !=''">
                    where  id in (
                    select userid from userrole where roleid in (select id from role where rolename=#{rolename})
                    )
                    <if test="nickname != null and nickname !=''">
                        and NickName=#{nickname}
                    </if>
                    <if test="username != null and username !=''">
                        and username=#{username}
                    </if>
                </when>
                <otherwise>
                  where 1=1
                    <if test="nickname != null and nickname !=''">
                        and NickName=#{nickname}
                    </if>
                    <if test="username != null and username !=''">
                        and username=#{username}
                    </if>
                </otherwise>
            </choose>

    </select>
    <select id="queryuserbynumber" resultType="User">
        select *from user where Number=#{0}
    </select>
</mapper>