<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sx.daoyun.mapper.UserMapper">
    <!--///这里还可以使用缓存-->
    <!--使这个能辨别 要在yml中整合mybatis-->
    <select id="queryUserList" resultType="User">
      select *from user
    </select>
    <select id="queryUserByName" resultType="User">
      select *from user where UserName=#{0}
    </select>
    <insert id="addUser" parameterType="User">
        insert into user (UserName,NickName,Sex,Number,Mobile,Email,Password,School,Department,Photo,exp
        ,CharmValue,LanDouNum,XinYi,Birthday,Createby,CreateDate,
        QianDaoExp,ResourceExp,taskExp,VideoExp,TimeExp,DiscussExp,DianZanExp,JoinClassExp)
        values (#{UserName},#{NickName},#{Sex},#{Number},#{Mobile},#{Email},#{Password}
        ,#{School},#{Department},#{Photo},#{exp},#{CharmValue},#{LanDouNum},#{XinYi},
        #{Birthday},#{Createby},#{CreateDate}
        ,#{QianDaoExp},#{ResourceExp},#{taskExp},#{VideoExp},#{TimeExp},#{DiscussExp},#{DianZanExp}
        ,#{JoinClassExp}
        )
    </insert>
    <select id="queryUserById" resultType="User">
        select *from user where id=#{0}
    </select>
    <delete id="deleteUser" parameterType="int">
        delete from user where id=#{0}
    </delete>

    <update id="updateUser" parameterType="User">
        update user set UserName=#{UserName},NickName=#{NickName},Sex=#{Sex}
        ,Number=#{Number},Mobile=#{Mobile},Email=#{Email},Password=#{Password},
        School=#{School},Department=#{Department},Photo=#{Photo},exp=#{exp}
        ,CharmValue=#{CharmValue},LanDouNum=#{LanDouNum},XinYi=#{XinYi},Birthday=#{Birthday}
        ,Modifyby=#{Modifyby},ModifyDate=#{ModifyDate}
        ,QianDaoExp=#{QianDaoExp},ResourceExp=#{ResourceExp},taskExp=#{taskExp},VideoExp=#{VideoExp}
        ,TimeExp=#{TimeExp},DiscussExp=#{DiscussExp},DianZanExp=#{DianZanExp},JoinClassExp=#{JoinClassExp}
        where id=#{id}
    </update>
    <update id="resetPassword" parameterType="String">
        update user set Password=123456 where UserName=#{name}
    </update>
    <select id="queryUseridByPhone" resultType="User">
        select * from user where Mobile=#{phone}
    </select>
</mapper>